<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	
  	<servlet>
		<servlet-name>Gastos</servlet-name>
		<servlet-class>net.nodata.expenses.controller.CTRGastos</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Gastos</servlet-name>
		<url-pattern>/Gastos.do</url-pattern>
	</servlet-mapping>
	
	<context-param>
		<param-name>DBUSER</param-name>
		<param-value>system</param-value>
	</context-param>
	
	<context-param>
		<param-name>DBPWD</param-name>
		<param-value>reverload</param-value>
	</context-param>
	
	<context-param>
		<param-name>DBDRIVER</param-name>
		<param-value>oracle.jdbc.OracleDriver</param-value>
	</context-param>
	
	<context-param>
		<param-name>DBURL</param-name>
		<param-value>jdbc:oracle:thin:@localhost:1521:XE</param-value>
	</context-param>
		
	<listener>
		<listener-class>
			net.nodata.expenses.listener.AppContextListener
		</listener-class>
	</listener>
	
	
  
</web-app>
